body {
  background-color: #6ba165;
}

main {
  text-align: center;
  margin: auto;
}

h3 {
  font-size: 0.75em;
}

.spacer {
  background-color: #006978;
  height: 0.5em;
}

#topSection {
  background-color: #0097a7;
  margin: auto;
}

#remainingMovesSection {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  background-image: url("../assets/RemainingMovesBack.png");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  padding-top: 2rem;
}

#anounce {
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 0.5em;
  color: #422121;
}

#activeBoard {
  font-size: 5em;
}

#usedLetters {
  position: fixed;
  align-items: flex-end;
  justify-content: flex-start;
  bottom: 0;
  width: 100%;
  font-size: 8vw;
  letter-spacing: 3px;
  color: rgb(70, 70, 70);
  display: flex;
  height: 350px;
}

.usedElement {
  display: flex;
  margin: 0;
  font-family: "Slackey", cursive;
}

#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #0097a7; */
  font-family: "Merriweather", serif;
  margin-bottom: 3rem;
}

#wins {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0 1rem;
  background-image: url("../assets/TopLeftNew.png");
  width: 150px;
  height: 150px;
  padding-top: 1rem;
  background-repeat: no-repeat;
}

#losses {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0 1rem;
  background-image: url("../assets/TopRightNew.png");
  width: 150px;
  height: 150px;
  padding-top: 1rem;
  background-repeat: no-repeat;
}

#remainingMoves {
  font-size: 8em;
  font-family: "Roboto", sans-serif;
}

#lossCount {
  font-size: 6em;
  font-family: "Roboto", sans-serif;
}

#winCount {
  font-size: 6em;
  font-family: "Roboto", sans-serif;
}
