main {
  text-align: center;
}

.instructions {
  background-color: blue;
}

.game {
  background-color: aquamarine;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 0.75em;
}

#anounce {
  font-size: 2em;
}

#remainingMoves {
  font-size: 4em;
  margin-bottom: 0.5em;
}

#activeBoard {
  font-size: 5em;
}

#usedLetters {
  font-size: 1.5em;
  margin: 2em;
}

#scoreboard {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#wins {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

#losses {
  margin: 2em;
  display: flex;
  flex-direction: column;
}
